NEXT_PUBLIC_API_BASE_URL=http://localhost:YourServerPortNumber

# 위에 있는 BaseUrl 설정을 했음에도 연결이 다른 곳으로 간다고 판단이 들면

# 1) src/shared/lib/axios.ts 파일 내부에 설정 되어 있는 "getBaseUrl" 주소 업데이트 필요 
# 2) src/shared/store/apiUrl.store.ts 파일 내부에 있는 모든 주소 변경
# 3) next.config.ts 파일 내부에 있는 "destination" 주소 변경

# .env 파일이 우선시 되고는 있지만, 종종 해당 파일에 적어둔 링크를 읽어서 처리함 (원인 파악 못함)
